page-confirmed {
    .header {
        .back-button {
            color: #000;
        }
    }
    figure {
        margin: 5% !important;
        img {
            width: 100%;
            margin-top: 20px;
            border-radius: 50%;
        }
    }
    h1 {
        font-size: 3rem;
        font-weight: 400;
        margin-top: 5px;
        color: #444444;
    }
    h2 {
        font-size: 2rem;
        color: #999999;
        font-weight: 400;
        margin-top: 5px;
    }
    p {
        font-size: 2rem;
        letter-spacing: .5px;
        margin-bottom: 25px;
        //        position: absolute;
        //        width: 100%;
        //        bottom: 50px;
    }
    .fixed-bottom {
        position: sticky;
        .btn {
            margin-bottom: 5px;
            border-radius: 5px;
            margin-left: 9px;
            margin-right: 5px;
            background-color: #73a1db;
            width: 95%;
            .icon {
                padding-right: 5px;
            }
            .button-inner {
                font-size: 1.8rem;
            }
        }
    }
}
