<ion-header>
  <ion-navbar>
    <ion-title>{{'cart_title' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-light">
  <div *ngIf="!cartItems || !cartItems.length" class="empty">
    <div>
      <img src="assets/imgs/empty.png">
      <p>{{'no_items' | translate}}!</p>
    </div>
  </div>
  <ion-list *ngIf="cartItems && cartItems.length" no-lince>
    <ion-item *ngFor="let item of cartItems">
      <ion-avatar item-start>
        <img *ngIf="item.product.images && item.product.images.length" data-src="{{item.product.images[0].src}}">
        <img *ngIf="item.product.images == null || item.product.images.length == 0" src="assets/imgs/img_2.png">
      </ion-avatar>
      <h2>{{item.product.name}}</h2>
      <p>{{item.product.categories[0].name}}</p>
      <ion-row>
        <ion-col col-6>
          <ion-icon name="md-remove-circle" class="text-green" (click)="decrementItem(item.product)"></ion-icon>
          <span>{{item.quantity}}kg</span>
          <ion-icon name="md-add-circle" style="padding-left:15px;" class="text-green" (click)="incrementItem(item.product)"></ion-icon>
        </ion-col>
        <ion-col col-6 class="text-green" text-right>
          <p [innerHTML]="item.product.sale_price_html"></p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <ion-card class="fixed-bottom">
    <p>{{'total' | translate}}
      <strong [innerHTML]="total_items_html"></strong>
    </p>
    <p>{{'dlvr_charge' | translate}}
      <strong [innerHTML]="discount_html"></strong>
    </p>
    <p *ngIf="!coupon" class="text-green" (click)="codePage()">
      {{'have_promo' | translate}}?
    </p>
    <p *ngIf="coupon">{{'coupon' | translate}}({{coupon.code}}) {{'have_promo' | translate}}
      <strong [innerHTML]="couponAmount"></strong>
      <ion-icon name="md-close" class="cross" (click)="removeCoupon()"></ion-icon>
    </p>
    <button ion-button full class="btn btn-green" (click)="proceedCheckout()">
      <span item-start>{{checkoutText | translate}}</span>
      <span item-end>
        <strong [innerHTML]="total_html"></strong>
      </span>
    </button>
  </ion-card>
</ion-content>