<ion-content>
    <div class="logo">
       
    </div>
    <div class="banner">
      <ion-icon name="md-search" class="text-white" (click)="goToSearch()"></ion-icon>
      <!-- <ion-slides autoplay="2000" loop="true" pager > -->
      <ion-slides autoplay="3000" loop="true" pager >
        <ion-slide> 
          <img src="http://greekdelivery.in/images/banner1.png" class="slide-image" />
        </ion-slide>
        <ion-slide>
          <img src="http://greekdelivery.in/images/banner2.png" class="slide-image" />
        </ion-slide>
        <!-- <ion-slide>
          <img src="http://greekdelivery.in/images/banner3.png" class="slide-image" />
        </ion-slide> -->
      </ion-slides>
    </div>
    <div class="tabs-list bg-green">
      <ion-scroll scrollX="true" style="height: 50px;;">
        <ion-segment class="bg-green" [(ngModel)]="selectedCategoryIdx">
          <ion-segment-button *ngFor="let cat of categoriesAll; let i = index" [value]="i" [innerHTML]="cat.name" id="demo" (click)="loadProducts(i)">
          </ion-segment-button>
        </ion-segment>
      </ion-scroll>
    </div>
    <div *ngIf="products[selectedCategoryIdx] && products[selectedCategoryIdx].length">
        
      <ion-grid>
        <ion-row >
              <ion-col >
                <ion-card *ngFor="let pro of products[selectedCategoryIdx]">
                    <ion-card-content  *ngIf="pro.in_stock==true" >
                 
                    <ion-thumbnail  item-start>
                        <figure *ngIf="pro.images && pro.images.length" (click)="itemsinfo(pro)">
                            <img data-src="{{pro.images[0].src}}">
                        </figure>
                        <figure *ngIf="!pro.images || !pro.images.length" (click)="itemsinfo(pro)">
                            <img src="assets/imgs/img_1.png">
                        </figure>
                    </ion-thumbnail>
                   
                    <ion-row>
                        <ion-col col-9 class="text-green">
                          <h2></h2>
                        <h2 style="font-size: 2rem;padding-left: 16px;padding-top: 12px;" (click)="itemsinfo(pro)">{{pro.name}} </h2>
                        <p (click)="itemsinfo(pro)" [innerHTML]="pro.short_description"></p>
                        </ion-col>
                        <ion-col col-3 class="text-green">
                            <!-- <p *ngIf="pro.type == 'simple'" [innerHTML]="pro.regular_price_html"></p> -->
                            <p *ngIf="pro.type == 'variable'" [innerHTML]="pro.price_html"  ></p>
                        </ion-col>
                        <!-- <ion-icon name="md-remove-circle" (click)="decrementProduct(pro)"></ion-icon> -->
                                <!-- <span>{{pro.quantity}}</span> -->
                              
                        <!-- <ion-col *ngIf="pro.type == 'simple'" col-6>
                            <h6>
                                <ion-icon name="md-remove-circle" (click)="decrementProduct(pro)"></ion-icon>
                                <span>{{pro.quantity}}</span>
                                <ion-icon name="md-add-circle" class="active" (click)="incrementProduct(pro)"></ion-icon>
                            </h6>
                        </ion-col> -->
                    </ion-row>
                  </ion-card-content>
                <ion-card-content *ngIf="pro.in_stock==false  && pro.stock_quantity != 0">
                    <ion-thumbnail  item-start>
                        <figure *ngIf="pro.images && pro.images.length" >
                            <img data-src="{{pro.images[0].src}}">
                        </figure>
                        <figure *ngIf="!pro.images || !pro.images.length" >
                            <img src="assets/imgs/img_1.png">
                        </figure>
                    </ion-thumbnail>
                   
                    <ion-row>
                        <ion-col col-9 class="text-green">
                          <h2></h2>
                        <h2 style="font-size: 2rem;padding-left: 16px;padding-top: 12px;" >{{pro.name}} </h2>
                        <p  [innerHTML]="pro.short_description"></p>
                        </ion-col>
                        <ion-col col-3 class="text-green">
                            <!-- <p *ngIf="pro.type == 'simple'" [innerHTML]="pro.regular_price_html"></p> -->
                            <p *ngIf="pro.type == 'variable'" style="color: red;
                            font-weight: 500;
                            text-align: right;
                            padding-right: 12px;"   >Out of Stock</p>
                        </ion-col>
                        <!-- <ion-icon name="md-remove-circle" (click)="decrementProduct(pro)"></ion-icon> -->
                                <!-- <span>{{pro.quantity}}</span> -->
                              
                        <!-- <ion-col *ngIf="pro.type == 'simple'" col-6>
                            <h6>
                                <ion-icon name="md-remove-circle" (click)="decrementProduct(pro)"></ion-icon>
                                <span>{{pro.quantity}}</span>
                                <ion-icon name="md-add-circle" class="active" (click)="incrementProduct(pro)"></ion-icon>
                            </h6>
                        </ion-col> -->
                    </ion-row>
              </ion-card-content>
                
                </ion-card>
                 
                      

              </ion-col>
            </ion-row>
       
      </ion-grid>
    
        <!-- <ion-grid>
            <ion-row>
              <ion-col col-md-6>
        <ion-card>
            <ion-item *ngFor="let pro of products[selectedCategoryIdx]">
                <ion-thumbnail item-start>
                    <figure *ngIf="pro.images && pro.images.length" (click)="itemsinfo(pro)">
                        <img data-src="{{pro.images[0].src}}">
                    </figure>
                    <figure *ngIf="!pro.images || !pro.images.length" (click)="itemsinfo(pro)">
                        <img src="assets/imgs/img_1.png">
                    </figure>
                </ion-thumbnail>
                <h2 (click)="itemsinfo(pro)">{{pro.name}}</h2>
                <p (click)="itemsinfo(pro)" [innerHTML]="pro.short_description"></p>
                <ion-row>
                    <ion-col col-6 class="text-green">
                        <p *ngIf="pro.type == 'simple'" [innerHTML]="pro.sale_price_html"></p>
                        <p *ngIf="pro.type == 'variable'"  [innerHTML]="pro.price_html"></p>
                    </ion-col>
                    <ion-col *ngIf="pro.type == 'simple'" col-6>
                        <h6>
                            <ion-icon name="md-remove-circle" (click)="decrementProduct(pro)"></ion-icon>
                            <span>{{pro.quantity}}</span>
                            <ion-icon name="md-add-circle" class="active" (click)="incrementProduct(pro)"></ion-icon>
                        </h6>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-card>
        </ion-col>
        <ion-col col-md-6>
            <ion-card>
                <ion-item *ngFor="let pro of products[selectedCategoryIdx]">
                    <ion-thumbnail item-start>
                        <figure *ngIf="pro.images && pro.images.length" (click)="itemsinfo(pro)">
                            <img data-src="{{pro.images[0].src}}">
                        </figure>
                        <figure *ngIf="!pro.images || !pro.images.length" (click)="itemsinfo(pro)">
                            <img src="assets/imgs/img_1.png">
                        </figure>
                    </ion-thumbnail>
                    <h2 (click)="itemsinfo(pro)">{{pro.name}}</h2>
                    <p (click)="itemsinfo(pro)" [innerHTML]="pro.short_description"></p>
                    <ion-row>
                        <ion-col col-6 class="text-green">
                            <p *ngIf="pro.type == 'simple'" [innerHTML]="pro.sale_price_html"></p>
                            <p *ngIf="pro.type == 'variable'"  [innerHTML]="pro.price_html"></p>
                        </ion-col>
                        <ion-col *ngIf="pro.type == 'simple'" col-6>
                            <h6>
                                <ion-icon name="md-remove-circle" (click)="decrementProduct(pro)"></ion-icon>
                                <span>{{pro.quantity}}</span>
                                <ion-icon name="md-add-circle" class="active" (click)="incrementProduct(pro)"></ion-icon>
                            </h6>
                        </ion-col>
                    </ion-row>
                </ion-item>
            </ion-card>
            </ion-col>
            </ion-row>
            </ion-grid> -->
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>

    <div *ngIf="!loadingShown && (!products[selectedCategoryIdx] || !products[selectedCategoryIdx].length)" class="empty">
        <div>
            <img src="assets/imgs/empty.png">
            <p>{{ "skip" | translate }}!</p>
        </div>
    </div>

</ion-content>